img {
    display: flex; /* Make the image a block element */
    margin-left: auto; /* Set left margin to auto */
    margin-right: auto; /* Set right margin to auto */
    width: 50%; /* Adjust the width as needed */
    padding-top: 20px;
  }

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
p {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
  