.HomeText {
  text-align: left;
  padding-left: 5%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.CompanyLogo {
    display: flex; 
    margin-right: 10%;
    width: 25%; 
    padding-top: 20px;
  }